.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #444;
  background-color: rgb(47, 50, 50);
}

.headerTitle {
  a {
    color: #3366FF;
    font-weight: normal;
    text-decoration: none;
  }
}
